[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/vendor/start/vim-airline-themes"]
	path = pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/vendor/start/vim-hybrid"]
	path = pack/vendor/start/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "pack/vendor/start/vim-cursorword"]
	path = pack/vendor/start/vim-cursorword
	url = https://github.com/itchyny/vim-cursorword
[submodule "pack/vendor/start/vim-multiple-cursors"]
	path = pack/vendor/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "pack/vendor/start/incsearch.vim"]
	path = pack/vendor/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "pack/vendor/start/incsearch-fuzzy.vim"]
	path = pack/vendor/start/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim
[submodule "pack/vendor/start/vim-togglecursor"]
	path = pack/vendor/start/vim-togglecursor
	url = https://github.com/jszakmeister/vim-togglecursor
[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/vendor/start/vim-commentary"]
	path = pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/vendor/start/accelerated-jk"]
	path = pack/vendor/start/accelerated-jk
	url = https://github.com/rhysd/accelerated-jk
[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = https://github.com/lvht/fzf
[submodule "pack/vendor/start/coc.nvim"]
	path = pack/vendor/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
  branch = release
[submodule "pack/vendor/opt/ansible-vim"]
	path = pack/vendor/opt/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "pack/vendor/opt/vim-terraform"]
	path = pack/vendor/opt/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "pack/vendor/start/vim-rainbow"]
	path = pack/vendor/start/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow
[submodule "pack/vendor/start/vim-gitgutter"]
	path = pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
